body {
  text-align: center;
  font-family: Playfair Display;
  color: black; 
  padding-top: 4%;
  padding-bottom: 4%;
}

a:link {
    color: navy;
    text-decoration: underline;
}
a:visited {
        text-decoration: italic;
color: blue;
}

#display-result {
  text-align: center;
  padding: 40%;
}

.bordered {
  padding: 10px;
  margin: 50px 5% 10px 5%;
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  border-radius: 8px;
}

button {
  font-family: Playfair Display;
  color: black;
  width: 45%;
}

.flex {
  display: flex;
  align-items: center;
  border: none;
}